body {
    background: gray;
}

header {
    background: rgb(99, 209, 243);
    height: 150px;
    line-height: 150px;
    text-align: center;

}

h1 {
    font-size: 24px;
    font-weight: bold;
}

main {
    margin: 25px;
}

footer {
    margin: 25px;

}

ul {
    list-style-type:  disc;

}

li {
    margin-left: 10;
}